#green-line{
    position: absolute;
    top:180%;
    left: 10%;
    height: 95%;

}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; /* Aumentei um pouco para melhor espaçamento */
    padding: 240px; /* Reduzi o padding para ajustar o conteúdo */
    background-color: #ffffff;
}


.service-item {
    display: grid;
    grid-template-columns: 1fr; /* Uma coluna para alinhar tudo */
    grid-template-rows: auto 2; /* Duas linhas: uma para o texto, outra para a imagem */
    flex-direction: column; 
    padding: 10px;
    transition: transform 0.3s ease;
    position: relative; 
    text-align: left;
    overflow: hidden; 
    align-items: end;
}

.service-item .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.service-item img {
    max-width: 170px;
    margin-bottom: 1%;
    display: flex;
    align-items: center;

}

.service-item h3 {
    font-size: 18px;
    color: #0582B9;
    margin-bottom: 30px;
    max-width: 250px;
}


.service-item p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.button-more-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    background: linear-gradient(121deg, #0582B9 0%, #0582B9 67%, #25AC7D 100%);
    border-radius: 21px;
    border: none;
    color: white;
    font-size: 12px;
    line-height: 1;
    gap: 8px;
    min-width: 120px;
    height: 40px;
    text-align: center;
}

.seta-img {
    width: 16px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

.button-more-info img {
    margin-left: 10px;
}

.button-more-info:hover {
    background: #0582B9;
    box-shadow: 0px 3px 6px #25AC7D;
    border-radius: 21px;
    opacity: 1;
    transform: translateY(-2px);
}

.button-more-info:hover {
    background: #0582B9;
    box-shadow: 0px 3px 6px #25AC7D;
    border-radius: 21px;
    opacity: 1;
    transform: translateY(-2px);
}

.bi {
    position: static;
    left: auto;
}

.text-content {
    flex: 5; /* O texto ocupa todo o espaço disponível à esquerda */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    grid-area: text;
}

.service-image {
    transition: 1;
    position: relative;
    max-width: 100px;
    height: auto;
    left:60%;
    transform: translateY(45%);
}
